
# Unzipping files in google drive

In [8]:
# Unzipping sample_submission_file

!unzip 'Toxic Comment Classification/sample_submission.csv.zip' -d 'Toxic Comment Classification/'

Archive:  drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/sample_submission.csv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/sample_submission.csv

In [6]:
# Unzipping test csv file

!unzip 'Toxic Comment Classification/test.csv.zip' -d 'Toxic Comment Classification/'

Archive:  drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/test.csv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/test.csv

In [7]:
# Unzipping test_labels csv file

!unzip 'Toxic Comment Classification/test_labels.csv.zip' -d 'Toxic Comment Classification/'

Archive:  drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/test_labels.csv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/test_labels.csv

In [9]:
# Unzipping train csv file

!unzip 'Toxic Comment Classification/train.csv.zip' -d 'Toxic Comment Classification/'

Archive:  drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/train.csv.zip
  inflating: drive/My Drive/Pytorch_DataSet/Toxic Comment Classification/train.csv

# Checking files if they are successfully unzipped or not

### Importing the libraries

In [0]:
import pandas as pd
import numpy as np

### For train.csv file

In [0]:
train_df = pd.read_csv('Toxic Comment Classification/train.csv')

In [19]:
train_df.head()

                 id  ... identity_hate
0  0000997932d777bf  ...             0
1  000103f0d9cfb60f  ...             0
2  000113f07ec002fd  ...             0
3  0001b41b1c6bb37e  ...             0
4  0001d958c54c6e35  ...             0

[5 rows x 8 columns]

### For test.csv file

In [0]:
test_df = pd.read_csv('Toxic Comment Classification/test.csv')

In [20]:
test_df.head()

                 id                                       comment_text
0  00001cee341fdb12  Yo bitch Ja Rule is more succesful then you'll...
1  0000247867823ef7  == From RfC == \n\n The title is fine as it is...
2  00013b17ad220c46  " \n\n == Sources == \n\n * Zawe Ashton on Lap...
3  00017563c3f7919a  :If you have a look back at the source, the in...
4  00017695ad8997eb          I don't anonymously edit articles at all.

### For test_labels.csv file

In [0]:
test_labels_df = pd.read_csv('Toxic Comment Classification/test_labels.csv')

In [21]:
test_labels_df.head()

                 id  toxic  severe_toxic  ...  threat  insult  identity_hate
0  00001cee341fdb12     -1            -1  ...      -1      -1             -1
1  0000247867823ef7     -1            -1  ...      -1      -1             -1
2  00013b17ad220c46     -1            -1  ...      -1      -1             -1
3  00017563c3f7919a     -1            -1  ...      -1      -1             -1
4  00017695ad8997eb     -1            -1  ...      -1      -1             -1

[5 rows x 7 columns]

### For sample_submission.csv file

In [0]:
sample_submission = pd.read_csv('Toxic Comment Classification/sample_submission.csv')

In [22]:
sample_submission.head()

                 id  toxic  severe_toxic  ...  threat  insult  identity_hate
0  00001cee341fdb12    0.5           0.5  ...     0.5     0.5            0.5
1  0000247867823ef7    0.5           0.5  ...     0.5     0.5            0.5
2  00013b17ad220c46    0.5           0.5  ...     0.5     0.5            0.5
3  00017563c3f7919a    0.5           0.5  ...     0.5     0.5            0.5
4  00017695ad8997eb    0.5           0.5  ...     0.5     0.5            0.5

[5 rows x 7 columns]

<h1><CENTER>THE END